{% extends 'users/base.html' %}
{% block title %}
        Delete Cart Item
        {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.customer.id == cartitem.cart.customer.id %}
<div class="form-group">
    <br><br>
    <form method="post">
        {% csrf_token %}

    <strong>Are you sure you want to delete "{{ cartitem.product }}" from {{ cartitem.product.owner }}?</strong><br><br>
    <input type="submit" class="btn btn-danger" value="Delete Item">
    <!-- <button class="btn btn-danger">Delete Post</button> -->
    <a href="{% url 'cart-items' cartitem.cart.id %}" class="btn btn-primary">Cancel</a>

    </form>
    
</div>
{% else %}
<h1>Access Denied</h1>
{% endif %}

{% else %}
<h1>You have to be logged in to use this feature.</h1> 
{% endif %}

{% endblock %}