{% extends 'users/base.html' %}

{% block content %}
<br><br>
<h1>Products</h1><br><br>

{% if user.is_authenticated %}
<h5>Welcome</h5>
{% else %}
<h5>Register or Login to Explore.</h5>
{% endif %}
<br><br>
<!-- <div class="container"> -->
<div class="row">
  {% for product in object_list %}
  <div class="product col col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="product-img card-img-top">

          <img src="{{ product.image.url }}" alt="...">
        </div>
        <p class="card-text">{{ product.title }}</p>
        <!-- <a href="#" class="btn btn-sm btn-primary">Add to Cart</a> -->

        {% if user.is_authenticated %}
        <form action="{% url 'create-cart-item' %}" method="post" style="display: inline-block;">
          {% csrf_token %}

          <button type="submit" name="product_id" value="{{ product.id }}" class="btn btn-sm btn-primary">Add to
            Cart</button>
        </form>
        {% endif %}


        <!-- <a href="#" class="btn btn-sm btn-primary">View</a> -->

        <span class="price">N{{ product.price }}</span>
        <h6>{{ product.owner }}</h6>
      </div>
    </div>

  </div>
  {% endfor %}

  <!-- <div class="product col col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="..." class="card-img-top" alt="...">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Add to Cart</a>
                  <a href="#" class="btn btn-sm btn-primary">view</a>
                  <span class="price">$24</span>
                  <h6>owner</h6>
                </div>
              </div>
          </div>
          <div class="product col col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="..." class="card-img-top" alt="...">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Add to Cart</a>
                  <a href="#" class="btn btn-sm btn-primary">View</a>
                  <span class="price">$24</span>
                  <h6>owner</h6>
                </div>
              </div>
          </div>
          <div class="product col col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="..." class="card-img-top" alt="...">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Add to Cart</a>
                  <a href="#" class="btn btn-sm btn-primary">View</a>
                  <span class="price">$24</span>
                  <h6>owner</h6>
                </div>
              </div>
          </div> -->
</div>
<!-- </div> -->

{% endblock %}